option_settings:
  aws:elasticbeanstalk:application:environment:
    # Set the active Spring Profile
    SPRING_PROFILES_ACTIVE: prod

    # Set static application values
    REDIS_SESSION_NAMESPACE: "quirely:session"
    REDIS_SESSION_TIMEOUT: "1800" # in seconds (30 minutes)
    UNSPLASH_BASE_URL: "https://api.unsplash.com"

  aws:elasticbeanstalk:container:tomcat:jvmoptions: "-Xms256m -Xmx1024m"